@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    font-size: 10px;
}
    
body {
    font-family: 'SpokaHanSansNeo',sans-serif;
    font-size: 1.6rem;
    border: none;
}
    
img {
    max-width: 100%;
    height: auto;
}
    
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    list-style: none;
}
    
button {
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}